@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Yeon+Sung&display=swap');
* {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    z-index: 10;
    text-align: center;
    height: 10vh;
}

section {
    height: 100VH;
    width: 100%;
}

.menu li{
    display: inline-block;
    height: 100%;
}

.menu li a{
    text-decoration: none;
}

.menu a{
    height: 100%;
    color: black;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 8vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yeon Sung', cursive;
}

.menu li:hover{
    background: rgba(0, 0, 0, 0.1);
}

.menu a:hover{
    color: ivory;
}

.split{
    height: 100vh;
    width: 100%;
}

.left {
    float: left;
    width: 50%;
    background-image: linear-gradient(to left, lavender, lightblue );
    display: flex;
}
  
.right {
    float: left;
  width: 50%;
    background-image: linear-gradient(to right, lavender, lightblue );
    display: flex;
}

.contact {
    height: 90vh;
    padding-top: 10vh;
    background-image: linear-gradient(to right, lightblue, lavender, lightblue );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trip {
    height: 90vh;
    padding-top: 10vh;
    background: linear-gradient(rgba(255,255,255,.4), rgba(0,0,0,.25)), url(../assets/me.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
}

.program {
    height: 90vh;
    padding-top: 10vh;
    background: linear-gradient(rgba(255,255,255,.4), rgba(0,0,0,.25)), url(../assets/code.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
}

.contact .title {
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
}

.interest {
    margin-top: 10vh;
    height: 90vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 12px 12px 24px darkgray;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.code{
    background: linear-gradient(rgba(0,0,0,.25  ), rgba(0,0,0,.75)), url(../assets/code.jpg);
    background-size: 100% 100%;
    font-family: 'Source Code Pro', monospace;
}

.logo{
    height: 100%;
    width: 4vw;
    float: left;
    padding: 0px 24px;
}

.code .title,   
.nature .title{
    padding: 24px;
    color: white;
    font-size: 36px;
}
.code .desc,
.nature .desc{
    padding: 48px;
    color: white;
}

.nature {
    font-family: 'Yeon Sung', cursive;
    background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.75)), url(../assets/me.jpg);
    background-size: 100% 100%;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 12px;
    padding: 12px;
    outline: 0;
    width: 25vh;
    margin: auto auto;
    background: transparent;
    font-weight: bolder;
    letter-spacing: 4px;
}

.nature .btn{
    font-family: 'Yeon Sung', cursive;
    color: white;
    font-size: 24px;
}

.code .btn{
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 24px;
}

.btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.btn span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.25);
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.img-bio{
    object-fit: fill;
    margin-top: 10vh;
    width: 75%;
    height: 90vh;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    box-shadow: 12px 12px 24px darkgray;
}

.bio-content{
    margin-top: 10vh;
    width: 100%;
    height: 90vh;
    padding: 4vh 0;
}

.bio-content .title {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 4px;
    font-size: 36px;
}

.bio-detail{
    padding: 24px 0;
    width: 100%;
}

table {
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
}

.btn-contact{
    padding: 12px;
    background: teal;
    border: none;
    color: whitesmoke;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 8px;
    font-family: 'Yeon Sung', cursive;
}
label{
    font-family: 'Yeon Sung', cursive;
}

.btn-contact:hover{
    background: rgba(0, 0, 0, 0.25);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    display: inline-block;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-github {
    background: purple;
    color: white;
  }

  form {
      display: flex;
      flex-direction: column;
  }
  form .input,
  form .input-message{
      margin: 12px 0;
      padding: 8px;
      outline: none;
      border: none;
      border-radius: 8px;
      resize: none;
  }

  form .input-message{
    height: 120px;
  }

  #form-contact{
      padding: 12px;
      width: 38vw;
  }